// Settings
$dark-brown: #A7845E;
$pale-brown: #EEE4B7;
$dark-green: #1F7417;
$pale-green: #ABDBA1;
$danger: #800;

html {
  background-color: $pale-brown;
  cursor: url("~@/assets/images/cursor.svg"), auto;
}

.menu-btn {
  cursor: url("~@/assets/images/cursor.svg"), auto;
  width: 200px;
  padding: 8px 24px;
  border-radius: 16px;
  border-right: 5px ridge #EEE4B7;
  border-left: 5px groove #EEE4B7;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.4));
  background-color: #1F7417;
  text-align: center;
  font-size: 24px;
  color: #ABDBA1;
  font-weight: bold;
  &:hover {
    background-color: #89f64e;
    color: #fff;
  }
}
