@import "common";

table {
  border-radius: 16px;
  background-color: $dark-brown;
}

th {
  border-bottom: 1px solid $pale-brown;
}

.order-btn {
  background-color: $pale-brown;
  border: none;
}

.modal {
  &__container {
    height: 80%;
    overflow-y: auto;
    @media (max-width: 768px) {
      height: 80%;
      overflow-y: auto;
    }
  }
}