@import "common";

input, select {
  background-color: $dark-green;
  border-radius: 16px;
  border-right: 5px ridge $pale-brown;
  border-left: 5px groove $pale-brown;
  text-align: center;
  color: $pale-green;
}
// Firefox、IE  
input[type="number"] {  
  -moz-appearance:textfield;  
}  
// Chrome、Safari  
input[type="number"]::-webkit-outer-spin-button,  
input[type="number"]::-webkit-inner-spin-button {  
  -webkit-appearance: none;  
  margin: 0;  
}  
select {
  padding-left: 8px;
  padding-right: 4px;
}
.input-small {
  width: 100px;
}
.alert {
  color: $danger;
}
.sp {
  @media screen and (max-width: 768px) {
    display: block;
  }
}
